/**
 Reader Styles
 
 See https://github.com/WebKit/webkit/blob/main/Source/WebCore/css/CSSValueKeywords.in
 for Apple specific CSS values
 */

:root {
    color-scheme: light dark;
}

* {
    max-width: 100%;
}

html {
    overscroll-behavior-x: none;
}

body {
    accent-color: $TINT_COLOR;
    font: -apple-system-tall-body;
    font-size: 18px;
    margin: 24px auto 52px;
    max-width: 40em;
    padding: 0 20px;
}

/* Header */

#den-header {
    margin-bottom: 20px;
}

#den-title {
    color: -apple-system-header-text;
    font-weight: bold;
    margin-bottom: 12px;
}

#den-excerpt {
    color: -apple-system-secondary-label;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    margin: 12px 0;
}

#den-author {
    font: -apple-system-subheadline;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    margin: 4px 0;
}

#den-dateline {
    font: -apple-system-subheadline;
    font-size: 14px;
    font-weight: 500;
    margin: 4px 0;
}

#den-dateline-relative {
    white-space: nowrap;
}

/* Layout */

div {
    margin: 0 auto;
}

/* Embeds */

img {
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    height: auto;
    margin: 20px auto;
    outline: 1px solid -apple-system-separator;
    outline-offset: -1px;
}

img.den-no-border {
    outline: 0;
}

img[src^=data] {
    display: none;
}

a:has(> img) {
    display: block;
    margin: 0 auto;
}

iframe {
    border: 0;
    border-radius: 8px;
    display: block;
    margin: 20px auto;
}

iframe[src^="https://www.youtube.com"],
iframe[src^="https://www.youtube-nocookie.com"] {
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
}

iframe[src^="https://embed.podcasts.apple.com"] {
    width: 100%;
    max-width: 660px;
    overflow: hidden;
    border-radius: 10px;
    transform: translateZ(0px);
    animation: 2s ease 0s 6 normal none running loading-indicator;
    background-color: rgb(228, 228, 228);
}

object,
video {
    border: 0;
    display: block;
    height: auto;
    margin: 20px 0;
    max-width: 100%;
}

audio {
    margin: 20px 0;
}

img[align="right"] {
    float: right;
    margin: 0 0 16px 16px;
}

img[align="left"] {
    float: left;
    margin: 0 16px 16px 0;
}

img[width="1"] {
    display: none;
}

img:not([src]) {
    display: none;
}

canvas, svg {
    display: none;
}

.instagram-media {
    background:#FFF;
    border:0;
    border-radius:3px;
    box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15);
    margin: 1px; 
    max-width:658px;
    min-width:326px; 
    padding:0;
    width:99.375%; 
    width:-webkit-calc(100% - 2px);
    width:calc(100% - 2px);
}

.instagram-media-rendered {
    margin-left: auto !important;
    margin-right: auto !important;
}

.twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;
}

.tiktok-embed {
    max-width: 605px;
    min-width: 325px;
}

/* Typography */

h1 {
    font: -apple-system-title0;
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font: -apple-system-title1;
    font-size: 28px;
    font-weight: 700;
}

h3 {
    font: -apple-system-title2;
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font: -apple-system-title3;
    font-size: 20px;
    font-weight: 700;
}

/* Content Sectioning */

p {
    margin: 20px 0;
}

hr {
    border-top: 1px solid -apple-system-separator;
}

/* Block Quotes */

blockquote {
    background: rgba(160, 160, 160, 0.15);
    border-radius: 8px;
    font-size: 20px;
    font-style: italic;
    line-height: 132%;
    margin: 20px auto;
    overflow: hidden;
    padding: 0 16px;
}

blockquote::before,
blockquote::after {
    content: "";
    display: block;
    margin-top: 16px;
}

blockquote p {
    margin: 12px 0;
}

/* Figures */

figure {
    background: rgba(160, 160, 160, 0.15);
    border-radius: 8px;
    font: -apple-system-caption1;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    margin: 20px 0;
    overflow: hidden;
    padding: 0 12px;
}

figure::before,
figure::after {
    content: "";
    display: block;
    margin-top: 12px;
}

figure img,
figure picture,
figure iframe,
figure object,
figure video {
    border-radius: 4px;
    margin: 8px auto;
}

figure blockquote {
    background: transparent;
    margin: 16px 0;
    overflow: visible;
    padding: 0 4px;
}

figure p,
figcaption {
    margin: 8px 0;
}

/* Links */

a {
    color: $TINT_COLOR;
    text-decoration: none;
}

a:visited {
    filter: brightness(0.85);
}

/* Lists */

ul {
    padding-left: 32px;
}

li {
    margin: 12px 0;
}

li img {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

li figure {
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

/* Remove Extra Whitespace */

div + br,
img + br,
iframe + br,
object + br,
video + br,
p + br,
hr + br,
br + br {
  display: none;
}

br:first-child {
    display: none;
}

span:empty,
p:empty,
div:empty,
figure:empty {
    display: none;
}

/* Tables */

table {
    border-collapse: collapse;
    font: -apple-system-body;
    font-size: 14px;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid -apple-system-label;
}

td, th {
    padding: 4px;
}

th {
    font-weight: bold;
}

/* Ad Cleanup */

.ad-wrapper {
    display: none;
}
