/**
 Den Web View Styles
 
 See https://github.com/WebKit/webkit/blob/main/Source/WebCore/css/CSSValueKeywords.in
 for Apple specific CSS values
 */

:root {
    color-scheme: light dark;
}

* {
    max-width: 100%;
}

html {
    accent-color: $TINT_COLOR;
    font: -apple-system-body;
    font-family: $FONT_FAMILY;
    font-size: $FONT_SIZE;
}

body {
    line-height: 140%;
    margin: 0;
}

body > :first-child {
    margin-top: 0;
}

body > div:only-of-type > :first-child {
    margin-top: 0;
}

/* Embeds */

iframe,
object,
video {
    border: 0;
    display: block;
    height: auto;
    margin: 1rem 0;
    max-width: 100%;
}

audio {
    margin: 1.25rem 0;
}

img, picture {
    border: 1px solid -apple-system-separator;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    height: auto;
    margin: 1rem 0;
    max-width: 100%;
}

img[align="right"] {
    margin: 0 0 1rem 1rem;
}

img[align="left"] {
    margin: 0 1rem 1rem 0;
}

/* Typography */

h1 {
    font: -apple-system-title0;
}

h2 {
    font: -apple-system-title1;
}

h3 {
    font: -apple-system-title2;
}

h4 {
    font: -apple-system-title3;
}

h1, h2, h3, h4 {
    font-family: inherit;
    font-weight: 600;
}

/* Content Sectioning */

p {
    margin: 1rem 0;
}

hr {
    border-top: 1px solid -apple-system-separator;
}

/* Block Quotes */

blockquote {
    background: -apple-system-secondary-background;
    border-radius: 8px;
    font: -apple-system-title3;
    font-family: inherit;
    margin: 1rem 0;
    overflow: hidden;
    padding: 2rem;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

/* Figures */

figure {
    background: -apple-system-secondary-background;
    border-radius: 8px;
    font: -apple-system-caption1;
    font-family: inherit;
    margin: 1rem 0;
    overflow: hidden;
    padding: 1rem;
}

figure > :first-child {
    margin-top: 0;
}

figure > :last-child {
    margin-bottom: 0;
}

figure img, figure picture {
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

figure blockquote {
    padding: 0;
}

/* Links */

a {
    color: $TINT_COLOR;
}

a:visited {
    filter: brightness(0.85);
}

/* Remove Extra Whitespace */

img + br,
p + br,
hr + br,
br + br {
  display: none;
}

br:first-child {
    display: none;
}

p:empty {
    display: none;
}

/* Tables */

table {
    font: -apple-system-body;
    font-family: inherit
}

table, th, td {
    border: 1px solid -apple-system-separator;
}

td, th {
    padding: 0.375rem;
}

th {
    font-weight: bold;
}
