/**
 Den Web View Styles
 
 See https://github.com/WebKit/webkit/blob/main/Source/WebCore/css/CSSValueKeywords.in
 for Apple specific CSS values
 */

:root {
    color-scheme: light dark;
}

* {
    max-width: 100%;
}

body {
    accent-color: $TINT_COLOR;
    font: -apple-system-body;
    margin: 0;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > :first-child {
    margin-top: 0;
}

body > :first-child,
body > :first-child > :first-child,
body > :first-child > :first-child > :first-child {
    margin-top: 0;
}

/* Embeds */

img, picture {
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    height: auto;
    margin: 1.25rem 0;
    max-width: 100%;
    outline: 1px solid -apple-system-separator;
    outline-offset: -1px;
}

picture img {
    border: 0;
    margin: 0;
}

iframe,
object,
video {
    border: 0;
    display: block;
    height: auto;
    margin: 1.25rem 0;
    max-width: 100%;
}

audio {
    margin: 1.25rem 0;
}

img[align="right"] {
    margin: 0 0 1rem 1rem;
}

img[align="left"] {
    margin: 0 1rem 1rem 0;
}

/* Typography */

h1 {
    font: -apple-system-title0;
}

h2 {
    font: -apple-system-title1;
}

h3 {
    font: -apple-system-title2;
}

h4 {
    font: -apple-system-title3;
}

/* Content Sectioning */

p {
    margin: 1rem 0;
}

hr {
    border-top: 1px solid -apple-system-separator;
}

/* Block Quotes */

blockquote {
    background: -apple-system-secondary-background;
    border-radius: 6px;
    font: -apple-system-title3;
    font-family: inherit;
    margin: 1.25rem 0;
    overflow: hidden;
    padding: 1.5rem;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

/* Figures */

figure {
    background: -apple-system-secondary-background;
    border-radius: 6px;
    font: -apple-system-caption1;
    font-family: inherit;
    margin: 1.25rem 0;
    overflow: hidden;
    padding: 0.75rem;
}

figure img,
figure picture,
figure iframe,
figure object,
figure video {
    border-radius: 4px;
    margin: 0.75rem auto;
}

figure > :first-child,
figure > :first-child > :first-child {
    margin-top: 0;
}

figure > :last-child,
figure > :last-child > :last-child {
    margin-bottom: 0;
}

figure blockquote {
    padding: 0;
}

/* Links */

a {
    color: $TINT_COLOR;
}

a:visited {
    filter: brightness(0.85);
}

/* Remove Extra Whitespace */

img + br,
iframe + br,
object + br,
video + br,
p + br,
hr + br,
br + br {
  display: none;
}

br:first-child {
    display: none;
}

p:empty,
div:empty {
    display: none;
}

/* Tables */

table {
    font: -apple-system-body;
    font-family: inherit
}

table, th, td {
    border: 1px solid -apple-system-separator;
}

td, th {
    padding: 0.375rem;
}

th {
    font-weight: bold;
}
