/**
 Den Web View Styles
 
 See https://github.com/WebKit/webkit/blob/main/Source/WebCore/css/CSSValueKeywords.in
 for Apple specific CSS values
 */

:root {
    color-scheme: light dark;
}

* {
    max-width: 100%;
}

body {
    accent-color: $TINT_COLOR;
    font: -apple-system-body;
    margin: 20px 0;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

/* Embeds */

img {
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    height: auto;
    margin: 20px 0;
    max-width: 100%;
    outline: 1px solid -apple-system-separator;
    outline-offset: -1px;
}

iframe,
object,
video {
    border: 0;
    display: block;
    margin: 20px auto;
}

iframe.den-scale-fix {
    height: auto;
}

audio {
    margin: 20px 0;
}

img[align="right"] {
    margin: 0 0 1rem 1rem;
}

img[align="left"] {
    margin: 0 1rem 1rem 0;
}

/* Typography */

h1, h2, h3, h4 {
    margin: 20px 0;
}

h1 {
    font: -apple-system-title0;
    font-weight: 600;
}

h2 {
    font: -apple-system-title1;
    font-weight: 700;
}

h3 {
    font: -apple-system-title2;
    font-weight: 700;
}

h4 {
    font: -apple-system-title3;
    font-weight: 700;
}

/* Content Sectioning */

p {
    margin: 20px 0;
}

hr {
    border-top: 1px solid -apple-system-separator;
}

/* Lists */

ul {
    margin: 20px 0;
}

/* Block Quotes */

blockquote {
    background: rgba(160, 160, 160, 0.2);
    border-radius: 8px;
    font: -apple-system-title3;
    margin: 20px 0;
    overflow: hidden;
    padding: 20px;
    text-align: start;
}

blockquote * {
    margin: 12px 0;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

blockquote img {
    outline: 0;
}

/* Figures */

figure {
    background: rgba(160, 160, 160, 0.2);
    border-radius: 6px;
    font: -apple-system-caption1;
    margin: 20px 0;
    overflow: hidden;
    padding: 0 12px;
    text-align: center;
}

figure img,
figure picture,
figure iframe,
figure object,
figure video {
    border-radius: 4px;
    margin: 12px auto 12px;
}

figure blockquote {
    background: transparent;
    padding: 8px;
}

figure p {
    margin: 12px 0;
}

figure img {
    outline: 0;
}

figcaption {
    margin: 12px 0;
}

li figure {
    display: inline-block;
    float: left;
}

/* Links */

a {
    color: $TINT_COLOR;
    text-decoration: none;
}

a:visited {
    filter: brightness(0.85);
}

/* Remove Extra Whitespace */

img + br,
iframe + br,
object + br,
video + br,
h1 + br,
h2 + br,
h3 + br,
h4 + br,
p + br,
hr + br,
br + br,
figure + br,
blockquote + br {
    display: none;
}

br:first-child {
    display: none;
}

h1:empty,
h2:empty,
h3:empty,
h4:empty,
p:empty,
div:empty {
    display: none;
}

/* Tables */

table {
    border-collapse: collapse;
    font: -apple-system-body;
    margin: 20px auto;
}

table, th, td {
    border: 1px solid -apple-system-label;
}

td, th {
    padding: 4px 6px;
}

th {
    font-weight: bold;
}

/* Wordpress and WP plugins */


ul.swiper-wrapper {
    list-style: none;
    padding: 0;
}

ul.swiper-wrapper li {
    display: block;
}

ul.swiper-wrapper li figure {
    margin: 0 0 20px;
}

.wp-block-gallery ul {
    list-style: none;
    margin: 12px 0;
    padding: 0;
}

.wp-block-gallery ul li {
    display: block;
}

.wp-block-gallery ul li figure {
    margin: 0 0 12px;
}
