/**
 Den Safari Extension Styles
 
 See https://github.com/WebKit/webkit/blob/main/Source/WebCore/css/CSSValueKeywords.in
 for Apple specific CSS values
 */

:root {
    color-scheme: light dark;
}

body {
    color: -apple-system-label;
    font: -apple-system-body;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
    margin: 0;
    padding: 0.5rem;
}

@supports (-webkit-touch-callout: none) { /* iOS */
    body {
      background: -apple-system-grouped-background;
      min-width: 300px;
    }
}

@supports not (-webkit-touch-callout: none) { /* Mac */
    body {
      width: 300px;
    }
}

#no-results {
    align-items: center;
    background: -apple-system-secondary-grouped-background;
    border-radius: 0.5rem;
    color: dimgray;
    display: flex;
    flex-flow: column;
    font-size: 0.75rem;
    padding: 0.5rem 0.75rem;
    text-align: center;
}

#no-results div {
    display: flex;
    justify-content: center;
}

#no-results div:first-child {
    margin: 0 0 0.25rem;
}

#results-list {
    background: -apple-system-secondary-grouped-background;
    border-radius: 0.5rem;
    border-width: 0;
    border-spacing: 0;
}

.row {
    border-top: 1px solid -apple-system-separator;
    display: flex;
    padding: 0 0.5rem;
}

.row:first-child {
    border-top: 0 none;
}

.description {
    flex-grow: 1;
    overflow: hidden;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
}

.title,
.feed-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.title {
    font: -apple-system-body;
}

.feed-url {
    color:  -apple-system-secondary-label;
    font: -apple-system-caption1;
}

.action {
    display: flex;
    align-items: center;
}

/** Status messages */

.status {
    box-sizing: border-box;
    display: flex;
    font: -apple-system-short-footnote;
    justify-content: center;
    margin: 0.5rem 0 0;
    max-width: 100%;
    padding: 0 0.25rem;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

/** Icons */

i {
    background: -apple-system-label;
    box-sizing: content-box;
    display: inline-block;
    height: 1.25rem;
    margin: 0;
    width: 1.25rem;
    -webkit-mask-size: 1.25rem 1.25rem;
    -webkit-mask-origin: content-box;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

#no-results-icon {
    -webkit-mask-image: url(images/symbol-no-results.svg);
}
#open-icon {
    -webkit-mask-image: url(images/symbol-open.svg);
}
#copy-icon {
    -webkit-mask-image: url(images/symbol-copy.svg);
}

@supports (-webkit-touch-callout: none) { /* iOS */
    i {
        height: 1.75rem;
        width: 1.75rem;
        -webkit-mask-size: 1.75rem 1.75rem;
    }
}

/** Buttons */

button {
    appearance: none;
    background: none;
    border-radius: 0.375rem;
    border: 0 none;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

button i {
    background: -apple-system-control-accent;
}

button:hover {
    background: rgba(0,0,0,0.05);
}

button:active {
    background: rgba(0,0,0,0.1);
}

@supports (-webkit-touch-callout: none) { /* iOS */
    button {
        padding: 0.25rem 0.5rem;
    }
    
    button i {
        background: -apple-wireless-playback-target-active;
    }
}

/** Dark Mode */

@media (prefers-color-scheme: dark) {
    button:hover {
        background: rgba(255,255,255,0.05);
    }
    button:active {
        background: rgba(255,255,255,0.1);
    }
}
