/**
 Den Safari Extension Styles
 
 See https://github.com/WebKit/webkit/blob/main/Source/WebCore/css/CSSValueKeywords.in
 for Apple specific CSS values
 */

:root {
    color-scheme: light dark;
}

body {
    color: -apple-system-label;
    font: -apple-system-body;
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    cursor: default;
    margin: 0;
    padding: 12px;
}

@supports (-webkit-touch-callout: none) { /* iOS */
    body {
        background: -apple-system-grouped-background;
        min-width: 300px;
    }
}

@supports not (-webkit-touch-callout: none) { /* Mac */
    body {
        width: 260px;
    }
}

/* No Feeds */

#no-feeds {
    align-items: center;
    background: -apple-system-secondary-grouped-background;
    border-radius: 8px;
    color: -apple-system-secondary-label;
    display: flex;
    flex-flow: column;
    font: -apple-system-title3;
    padding: 8px;
    text-align: center;
}

#no-feeds div {
    display: flex;
    justify-content: center;
}

#no-feeds-icon {
    background: -apple-system-secondary-label;
    box-sizing: content-box;
    display: inline-block;
    height: 28px;
    margin: 0;
    width: 28px;
    -webkit-mask-size: 28px 28px;
    -webkit-mask-origin: content-box;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-image: url(images/symbol-no-results.svg);
}

/* Results List */

#results {
    background: -apple-system-secondary-grouped-background;
    border-radius: 8px;
    border-width: 0;
    border-spacing: 0;
}

.result {
    border-top: 1px solid -apple-system-separator;
    display: flex;
    padding: 0 8px;
}

.result:first-child {
    border-top: 0 none;
}

.result-description {
    flex-grow: 1;
    overflow: hidden;
    padding: 8px 4px 8px 4px;
}

.result-description-title,
.result-description-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result-description-title {
    font: -apple-system-body;
}

.result-description-url {
    color:  -apple-system-secondary-label;
    font: -apple-system-caption1;
}

.result-action {
    display: flex;
    align-items: center;
}

/** Status messages */

.status {
    color:  -apple-system-secondary-label;
    font: -apple-system-caption2;
    margin: 8px 0 0;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

/** Icons */

#open-icon,
#copy-icon {
    background: -apple-system-label;
    box-sizing: content-box;
    display: inline-block;
    height: 20px;
    margin: 0;
    width: 20px;
    -webkit-mask-size: 20px 20px;
    -webkit-mask-origin: content-box;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

#open-icon {
    -webkit-mask-image: url(images/symbol-open.svg);
}

#copy-icon {
    -webkit-mask-image: url(images/symbol-copy.svg);
}

@supports (-webkit-touch-callout: none) { /* iOS */
    #copy-icon,
    #open-icon {
        height: 28px;
        width: 28px;
        -webkit-mask-size: 28px 28px;
    }
}

/** Buttons */

button {
    appearance: none;
    background: none;
    border-radius: 6px;
    border: 0 none;
    margin: 0;
    padding: 4px;
    -webkit-tap-highlight-color: transparent;
}

button i {
    background: -apple-system-control-accent;
}

button:hover {
    background: rgba(0,0,0,0.05);
}

button:active {
    background: rgba(0,0,0,0.1);
}

@supports (-webkit-touch-callout: none) { /* iOS */
    button {
        padding: 4px 8px;
    }
}

/** Dark Mode */

@media (prefers-color-scheme: dark) {
    button:hover {
        background: rgba(255,255,255,0.05);
    }
    button:active {
        background: rgba(255,255,255,0.1);
    }
}
